<!DOCTYPE html>
<html lang="en">

<head>
	<title>Recipe Finder</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
	<h1>Recipe Finder</h1>
	<form action="/" method="POST" id="searchBox">
		<input type="text" class="input" name="userInput" placeholder="Type ingredients here...">
		<input type="submit" class="button">
	</form>
</body>

</html>