html {
	font-family: 'Inter';
}

body {
	margin: auto;
	width: 80%;
	text-align: center;
	background-color: #FFFBF5;
}

h1 {
	padding-top: 1rem;
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	color: #2D3561;
}

h2 {
	color: #2D3561;

}

.input {
	padding: .5rem;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;

	outline: solid;
	border-radius: 15px;
	color: #2D3561;
}

.button {
	width: auto;
	height: auto;
	padding: .5rem;
	margin-left: .5rem;

	background: #C05C7E;
	border: 3px solid #C05C7E;
	border-radius: 15px;

	font-style: normal;
	font-weight: 400;
	font-size: 18px;

	color: #FFFFFF
}

table {
	left: 1rem;
	margin-top: 1rem;
	border-collapse: collapse;
	border: 2px solid rgb(200, 200, 200);
	font-size: 0.8rem;
	font-family: 'Inter';
}

td,
th {
	border: 1px solid rgb(190, 190, 190);
	left: 100px;
	padding: .5rem .25rem;
	font-family: 'Inter';
	text-align: left;
	vertical-align: top;
	width: 30%;
}

th {
	background-color: rgb(235, 235, 235) !important;
	color: #2D3561;
}

td {
	text-align: left;
	padding: .25rem;
	vertical-align: top;
}

tr:nth-child(even) td {
	background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
	background-color: rgb(245, 245, 245);
}

#dish {
	width: 30%;
}

#ingredients {
	width: 35%;
}

#instructions {
	width: 35%;
}